.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  max-width: 500px;
}

.form__actions {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.form__field {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form__submit {
  width: fit-content;
}

button {
  cursor: pointer;
}

.result {
  align-self: self-start;
}
